<div class="container rounded-lg">
  <div class="row">
    <div class="col-md-4">
      <h1 id="about">Contact</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-3">
            <h4>Full Name</h4>
          </div>
          <div class="col-md-9">
            <input class="contact-input form-control" type="text" placeholder="Enter name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Email Address</h4>
          </div>
          <div class="col-md-9">
            <input class="contact-input form-control" type="email" placeholder="Enter email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Contact Number</h4>
          </div>
          <div class="col-md-9">
            <input class="contact-input form-control" type="tel" placeholder="Enter phone number">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Message</h4>
          </div>
          <div class="col-md-9">
            <textarea name="message" placeholder="Enter your message" rows="5" cols="45"></textarea>
          </div>
        </div>
        <!--Submit button-->
        <button type="button" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>