<div class="container rounded-lg">
  <div class="row">
    <div class="col-sm-4">
      <h1 id="about">About me</h1>
    </div>
  </div>
  <!--Round profile image-->
  <div class="row">
    <div class="col-sm-4">
      <img class="img-thumbnail rounded-circle profile-picture" src="../public/img/profile.jpg" alt="Profile image" />
    </div>
    <div class="col-sm-8">
      <!--Biography-->
      <div class="card">
        <div class="card-body">
          <p>
            I currently work at the Edith Cowan University Survey Research Centre as a research interviewer,
            conducting research for various government agencies.
            I'm presently working towards a career in web development, undertaking studies at UWA's Cooding Bootcamp
            program.
          </p>
          <p>
            I was born in the town of Numurkah in northern Victoria, but currently live in Yanchep, Western Australia.
            In my free time i enjoy hiking, photography, gaming as well as spending time with my family.
          </p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="https://github.com/Nathan-Rosenboom" target="_blank"><button type="button"
                class="btn btn-secondary">
                <i class="fab fa-github"></i>
                Github</button></a>
            <a href="https://www.linkedin.com/in/nathan-rosenboom-5410571a6/" target="_blank"><button type="button"
                class="btn btn-secondary">
                <span class="fab fa-linkedin mr-2"></span>
                LinkedIn</button></a>
            <a href="#!" target="_blank"><button type="button" class="btn btn-secondary">
                <span class="fas fa-file-pdf mr-2"></span>
                Resume</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>