<div class="container rounded-lg">
  <div class="row">
    <div class="col-md-4">
      <h1 id="about">Portfolio</h1>
    </div>
  </div>
  <!--Code below displays thumbnail images and captions for Projects-->
  <section class="row">
    <div class="card-group">
      <div class="card">
        <a href="https://darciechapman.github.io/event-finder/" target="#">
          <img class="card-img rounded-lg" src="../public/img/Event_finder_thumbnail.jpg" alt="Event finder image">
          <div class="card-img-overlay">
            <h3>Event Finder</h3>
            <p class="card-text">Find events near you!</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://pacific-everglades-39155.herokuapp.com/" target="#">
          <img class="card-img rounded-lg" src="../public/img/Eat_da_burger_thumbnail.jpg" alt="Eat da burger image">
          <div class="card-img-overlay">
            <h3>Eat-Da-Burger</h3>
            <p class="card-text">Create your dream burger and devour it!</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://safe-dawn-22162.herokuapp.com/" target="#">
          <img class="card-img rounded-lg" src="../public/img/Gratitude_journal_thumbnail.jpg" alt="Gratitude Journal image">
          <div class="card-img-overlay">
            <h3>Gratitude Journal</h3>
            <p class="card-text">Share what you're grateful for today and look back on past gratitudes!</p>
          </div>
        </a>
      </div>
  </section>
  <section class="row">
    <div class="card-group">
      <div class="card">
        <a href="https://nathan-rosenboom.github.io/Password_Generator/" target="#">
          <img class="card-img rounded-lg" src="../public/img/Password_generator_thumbnail.jpg" alt="Password generator image">
          <div class="card-img-overlay">
            <h3>Password Generator</h3>
            <p class="card-text">Instantly generate a password that meets your requirements!</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://github.com/Nathan-Rosenboom/Work-day-scheduler" target="#">
          <img class="card-img rounded-lg" src="../public/img/Day_planner_thumbnail.jpg" alt="Day scheduler image">
          <div class="card-img-overlay">
            <h3>Day Scheduler</h3>
            <p class="card-text">Plan out your day with this day scheduler!</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="https://github.com/Nathan-Rosenboom?tab=repositories" target="#">
          <img class="card-img rounded-lg" src="../public/img/github_logo.jpg" alt="Github image">
          <div class="card-img-overlay">
            <h3>And much more!</h3>
            <p class="card-text">See all my current and past projects</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>